Repository Perpetuator-LLC/capital-copilot-be: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, version-check

mypy:
  name: MyPy
  entry: poetry run mypy
  language: system

version-check:
  name: Version Sync Check
  entry: python -m scripts.check_versions_sync
  language: system
  pass_filenames: false

chore: brings all pre-commit checks to use local setups
  .pre-commit-config.yaml
  notes/DEVELOPMENT.md
  notes/DJANGO_MGMT.md
  scripts/check_versions_sync.py
Due: mypy, version-check

chore: add configuration for PyCharm to IDE readme
  notes/IDE.md
Due: none

feat: adds copyrights and copyright check script
  .pre-commit-config.yaml
  copilot/__init__.py
  copilot/asgi.py
  copilot/copilot_shared.py
  copilot/settings.py
  copilot/urls.py
  copilot/wsgi.py
  manage.py
  notes/DEVELOPMENT.md
  scripts/__init__.py
  scripts/check_copyright.py
  scripts/check_versions_sync.py
  scripts/update_changelog.py
  users/__init__.py
  users/admin.py
  users/apps.py
  users/migrations/__init__.py
  users/models.py
  users/tests.py
  users/views.py
Due: mypy, version-check

docs: add django documentation for social accounts etc.
  notes/DJANGO_MGMT.md
  notes/DJANGO_SETUP.md
Due: none

feat: add social login CRUD and enables multiple ones to be used with one account
  copilot/settings.py
  copilot/urls.py
  mypy.ini
  pyproject.toml
  templates/landing_page.html
  templates/users/social_accounts.html
  users/adapters.py
  users/views.py
Due: mypy, version-check

feat: add contact us form with model and sends email along with IP debounce
  .pre-commit-config.yaml
  copilot/copilot_shared.py
  copilot/urls.py
  notes/DJANGO_MGMT.md
  scripts/check_versions_sync.py
  scripts/update_changelog.py
  templates/base.html
  templates/contact.html
  templates/landing_page.html
  users/forms.py
  users/migrations/0001_initial.py
  users/migrations/__init__.py
  users/models.py
  users/views.py
Due: mypy, version-check

feat: limit admin access to IP addresses in ADMIN_ALLOWED_IPS
  copilot/settings.py
  sample.env
  users/middleware.py
Due: mypy

feat: add git commit message checks
  .pre-commit-config.yaml
  copilot/copilot_shared.py
  copilot/settings.py
  notes/DEVELOPMENT.md
  scripts/check_commit_msg.py
  scripts/check_copyright.py
  scripts/check_versions_sync.py
  scripts/update_changelog.py
Due: mypy, version-check

fix: template dirs is now a list and correctly loads
  copilot/settings.py
Due: mypy

refactor: migrate views to use base and move fragments into the snippets directory
  sample.env
  templates/base.html
  templates/landing/contact.html
  templates/landing/home.html
  templates/landing_page.html
  templates/snippets/footer.html
  templates/snippets/header.html
  templates/snippets/messages.html
  templates/users/social_accounts.html
  users/views.py
Due: mypy

feat: add i18n support and move header and footer to separate includes that load for all pages using a single base (including allauth base template support)
  copilot/settings.py
  notes/DEVELOPMENT.md
  templates/account/account_inactive.html
  templates/account/base_entrance.html
  templates/account/base_manage.html
  templates/account/login-.html
  templates/account/signup-.html
  templates/base.html
  templates/landing/contact.html
  templates/snippets/footer.html
  templates/snippets/header.html
  templates/snippets/messages.html
  templates/socialaccount/base_entrance.html
  templates/socialaccount/base_manage.html
  templates/users/social_accounts.html
Due: mypy

feat: add dark mode support with localStorage acting as a cache for the UserPreferences model fields dark_mode and is_autherorized
  .pre-commit-config.yaml
  copilot/urls.py
  static/js/darkModeComponent.js
  templates/base.html
  templates/users/preferences.js
  templates/users/social_accounts.html
  users/views.py
Due: mypy, version-check

fix: add HTML and JS copyright checks
  .pre-commit-config.yaml
  scripts/check_copyright.py
  static/css/styles.css
  static/js/darkModeComponent.js
  tailwind.config.js
  templates/account/account_inactive.html
  templates/account/base_entrance.html
  templates/account/base_manage.html
  templates/base.html
  templates/landing/contact.html
  templates/landing/home.html
  templates/snippets/footer.html
  templates/snippets/header.html
  templates/snippets/messages.html
  templates/socialaccount/base_entrance.html
  templates/socialaccount/base_manage.html
  templates/users/preferences.js
  templates/users/social_accounts.html
Due: mypy, version-check

fix: stop flashing on page loads by setting dark class (or removing it) in HTML
  copilot/settings.py
  templates/base.html
  users/context_processors.py
Due: mypy

feat: add pretty formatting to pages
  copilot/settings.py
  poetry.lock
  pyproject.toml
  static/css/styles.css
  tailwind.config.js
  templates/account/email.html
  templates/account/login.html
  templates/account/logout.html
  templates/account/password_change.html
  templates/account/signup.html
  templates/base.html
  templates/snippets/footer.html
  templates/snippets/header.html
  templates/snippets/messages.html
  templates/users/social_accounts.html
Due: mypy, version-check

feat: add docker configuration for production deployments
  .dockerignore
  Dockerfile
  docker-compose.yaml
  nginx/nginx.conf
  notes/PRODUCTION.md
  poetry.lock
  pyproject.toml
Due: version-check

feat: make ports selectable using environment variables
  docker-compose.yaml
  notes/PRODUCTION.md
Due: none

feat: add ALLOWED_HOSTS support for the .env
  copilot/settings.py
  notes/PRODUCTION.md
  sample.env
Due: mypy

feat: add support for CSRF trusted origins
  copilot/settings.py
  notes/PRODUCTION.md
  sample.env
Due: mypy

feat: move virtual EVs to nginx so it can serve static and route to django for dynamic
  .gitignore
  docker-compose.yaml
  users/middleware.py
Due: mypy

feat: switch to using https for all links but without redirect as nginx is handling that where SSL is terminated
  copilot/settings.py
  nginx/nginx.conf
  templates/account/base_manage.html
  templates/socialaccount/base_manage.html
Due: mypy

feat: update the manage templates so that the allauth set password view displays correctly
  notes/PRODUCTION.md
  src/styles.css
  templates/account/base_manage.html
  templates/account/email.html
  templates/account/logout.html
  templates/account/password_change.html
  templates/socialaccount/base_manage.html
Due: none

feat: expose ACCOUNT_DEFAULT_HTTP_PROTOCOL to the .env so httpp can be used in dev and https in prod
  copilot/settings.py
  sample.env
Due: mypy

fix: add a missing semicolon to nginx.conf
  nginx/nginx.conf
Due: none

feat: switch to secure cookies
  copilot/settings.py
Due: mypy

feat: add support for internal and external Django Apps and add mdformat
  .pre-commit-config.yaml
  README.md
  copilot/settings.py
  copilot/urls.py
  mypy.ini
  notes/DEVELOPMENT.md
  notes/DJANGO_MGMT.md
  notes/DJANGO_SETUP.md
  notes/FRONTEND.md
  notes/IDE.md
  notes/INITIAL_CONFIG.md
  notes/PRODUCTION.md
  notes/WAF.md
  notes/plugins-django/EXTERNAL_PLUGINS.md
  notes/plugins-django/INTERNAL_PLUGINS.md
  notes/plugins-django/PLUGINS.md
  poetry.lock
  pyproject.toml
  scripts/research/__init__.py
  scripts/research/plugin_prototype.py
  templates/plugins/task_detail.html
  users/middleware.py
Due: mypy, version-check

fix: SESSION_COOKIE_SECURE is only set to true for HTTPS as Safari will fail to authenticate in development environments otherwise
  copilot/settings.py
Due: mypy

feat: add plugin support, integrate view and dashboard plugins, and allow formatting dependencies to auto update as they are now same for project and pre-commit env
  .pre-commit-config.yaml
  .python-version
  Dockerfile
  copilot/settings.py
  copilot/urls.py
  mypy.ini
  notes/DEVELOPMENT.md
  notes/INITIAL_CONFIG.md
  notes/OPENBB.md
  notes/plugins-django/EXTERNAL_PLUGINS.md
  poetry.lock
  pyproject.toml
  src/styles.css
  templates/base.html
  templates/snippets/header.html
  users/context_processors.py
  users/views.py
Due: mypy, version-check

feat: remove chart.js and switch to plotly which is integrated with OpenBB
  copilot/settings.py
  templates/base.html
Due: mypy

feat: add logging support integrated from OpenBB
  .gitignore
  .isort.cfg
  .pre-commit-config.yaml
  copilot/__init__.py
  copilot/copilot_shared.py
  copilot/expired_files.py
  copilot/formatter_with_exceptions.py
  copilot/handlers_manager.py
  copilot/logging_service.py
  copilot/path_tracking_file_handler.py
  copilot/settings.py
  notes/OPENBB.md
  poetry.lock
  pyproject.toml
  scripts/check_commit_msg.py
  scripts/check_copyright.py
  scripts/check_versions_sync.py
  scripts/research/logging_test.py
  scripts/research/openbb_chart.py
  scripts/research/openbb_logging.py
Due: mypy, version-check

test: add test and catch removal of common_tags code where the copyright update removed that code
  common/templatetags/common_tags.py
  notes/TESTS.md
  users/tests.py
Due: mypy

test: add tests to pre-commit and switch license in pyproject.toml to MIT per previous change
  .pre-commit-config.yaml
  pyproject.toml
Due: version-check

test: add testing and coverage support
  .coveragerc
  .idea/capital-copilot.iml
  .idea/runConfigurations/Django_Tests.xml
  notes/TESTS.md
  poetry.lock
  pyproject.toml
  users/tests.py
Due: mypy, version-check

feat: change logging system to use Djangos and add testing with coverage support @ >90% coverage
  .coveragerc
  .pre-commit-config.yaml
  copilot/expired_files.py
  copilot/formatter_with_exceptions.py
  copilot/handlers_manager.py
  copilot/logging_service.py
  copilot/path_tracking_file_handler.py
  copilot/settings.py
  copilot/tests_logging_service.py
  notes/TESTS.md
  scripts/check_commit_msg.py
  scripts/check_copyright.py
  scripts/check_versions_sync.py
  scripts/research/openbb_search.py
  users/tests.py
  users/tests_accounts.py
  users/tests_admin_middleware.py
  users/tests_social_accounts.py
  users/tests_views.py
  users/views.py
Due: mypy, version-check

test: add test to cover GraphQL API Schema
  .DS_Store
  .idea/runConfigurations/Django_Tests.xml
  api/schema.py
  api/tests.py
  api/urls.py
  api/views.py
  copilot/settings.py
  copilot/urls.py
  notes/DATA_ARCHITECTURE.svg
  notes/INITIAL_CONFIG.md
  notes/SQUEEZE.md
  poetry.lock
  pyproject.toml
  scripts/Insomnia.yaml
  users/tests_views.py
Due: mypy, version-check

feat: add squeeze data
  api/schema.py
  api/tests.py
Due: mypy

Path conditions:
  mypy: any of: . and \.py$
  version-check: any of: (\.pre-commit-config\.yaml|pyproject\.toml)
