Repository Perpetuator-LLC/capital-copilot-be: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, copyright-check, version-check

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

flake8:
  name: Flake8
  entry: poetry run flake8
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy
  language: system

copyright-check:
  name: Copyright Check
  entry: python -m scripts.check_copyright
  language: system
  pass_filenames: true

version-check:
  name: Version Sync Check
  entry: python -m scripts.check_versions_sync
  language: system
  pass_filenames: false

feat: add Keltner Channels to GraphQL API
  api/schema.py
  api/tests.py
  notes/GRAPHQL.md
  package-lock.json
Due: black, isort, flake8, mypy, copyright-check

feat: add auto complete graphql api
  api/schema.py
  api/views.py
  copilot/urls.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8, mypy, copyright-check, version-check

feat: add register feature and social login (needs testing), SQL scripts, and disables RestrictAdminMiddleware as IP address checking was not ideal
  .idea/sqldialects.xml
  README.md
  api/middleware.py
  api/serializers.py
  api/tests.py
  api/views.py
  copilot/settings.py
  copilot/urls.py
  notes/OPENBB.md
  notes/TESTS.md
  scripts/research/openbb_chart.py
  scripts/sql/drop_user.sql
  scripts/sql/select_auth_user.sql
  scripts/sql/select_django_session.sql
Due: black, isort, flake8, mypy, copyright-check

chore: update changelog script to produce CHANGELOG.md and update other check scripts to use LOG_LEVEL from environment
  CHANGELOG.md
  notes/DEVELOPMENT.md
  poetry.lock
  pyproject.toml
  scripts/Insomnia.yaml
  scripts/check_commit_msg.py
  scripts/check_copyright.py
  scripts/check_versions_sync.py
  scripts/update_changelog.py
Due: black, isort, flake8, mypy, copyright-check, version-check

refactor: start to remove front-end from back-end and add test for RegisterView
  .idea/runConfigurations/run_dev_servers.xml
  .idea/runConfigurations/watch_css.xml
  Dockerfile
  api/tests.py
  copilot/urls.py
Due: black, isort, flake8, mypy, copyright-check

feat: add verify email, add forgot password, add notes to out-of-date docs, how to restore the DB, and new information for connecting AWS SES, and fix mdformat escaping braces
  .idea/dataSources.xml
  .idea/sqldialects.xml
  .pre-commit-config.yaml
  README.md
  api/authentication.py
  api/middleware.py
  api/serializers.py
  api/tests.py
  api/views.py
  common/templatetags/common_tags.py
  copilot/settings.py
  copilot/urls.py
  notes/DEVELOPMENT.md
  notes/DJANGO_AUTH.md
  notes/DJANGO_DB_MGMT.md
  notes/FRONTEND.md
  notes/PRODUCTION.md
  notes/TERRAFORM.md
  notes/TESTS.md
  sample.env
  scripts/.gitignore
  scripts/check_commit_msg.py
  scripts/check_copyright.py
  scripts/check_versions_sync.py
  scripts/research/logging_test.py
  scripts/research/openbb_chart.py
  scripts/research/openbb_logging.py
  scripts/research/openbb_search.py
  scripts/research/plugin_prototype.py
  scripts/ses-config/.terraform-version
  scripts/ses-config/README.md
  scripts/ses-config/main.tf
  scripts/ses-config/tfvars.example
  scripts/sql/drop_user.sql
  scripts/sql/select_account_emailadress.sql
  scripts/update_changelog.py
Due: black, isort, flake8, mypy, copyright-check, version-check

test: fix data retrieval test so it doesn't actually use the API
  .idea/capital-copilot.iml
  api/schema.py
  api/tests.py
  scripts/research/alpha_earnings.py
  scripts/research/openbb_earnings.py
  scripts/research/plugin_prototype.py
Due: black, isort, flake8, mypy, copyright-check

chore: add deployment scripts using ansible for FE (and start BE not working yet)
  README.md
  copilot/settings.py
  notes/ANSIBLE.md
  notes/PRODUCTION.md
  notes/PRODUCTION_BE.md
  notes/PRODUCTION_FE.md
  notes/WAF.md
  poetry.lock
  pyproject.toml
  scripts/.gitignore
  scripts/ansible/deploy-be.yml
  scripts/ansible/deploy-fe.yml
  scripts/ansible/hosts.ini.example
  scripts/ansible/roles/deploy-be/nginx/nginx.conf
  scripts/ansible/roles/deploy-be/tasks/main.yml
  scripts/ansible/roles/deploy-be/templates/Dockerfile.j2
  scripts/ansible/roles/deploy-be/templates/docker-compose.yml.j2
  scripts/ansible/roles/deploy-fe/files/nginx.conf
  scripts/ansible/roles/deploy-fe/tasks/main.yml
  scripts/ansible/roles/deploy-fe/templates/Dockerfile.j2
  scripts/ansible/roles/deploy-fe/templates/docker-compose.yml.j2
  scripts/ansible/roles/start-be/tasks/main.yml
  scripts/ansible/start-be.yml
Due: black, isort, flake8, mypy, copyright-check, version-check

fix: revert the CSRF change to be from the com domain
  copilot/settings.py
Due: black, isort, flake8, mypy, copyright-check

chore: add the be setup for production deployment
  copilot/settings.py
  notes/ANSIBLE.md
  notes/PRODUCTION_BE.md
  scripts/.gitignore
  scripts/ansible-be/hosts.ini.example
  scripts/ansible-be/playbook.yml
  scripts/ansible-be/roles/django/files/nginx.conf
  scripts/ansible-be/roles/django/tasks/main.yml
  scripts/ansible-be/roles/django/templates/Dockerfile.j2
  scripts/ansible-be/roles/django/templates/docker-compose.yml.j2
  scripts/ansible-fe/hosts.ini.example
  scripts/ansible-fe/playbook.yml
  scripts/ansible-fe/roles/angular/files/nginx.conf
  scripts/ansible-fe/roles/angular/tasks/main.yml
  scripts/ansible-fe/roles/angular/templates/Dockerfile.j2
  scripts/ansible-fe/roles/angular/templates/docker-compose.yml.j2
  scripts/ansible/roles/deploy-be/tasks/main.yml
  scripts/ansible/roles/start-be/tasks/main.yml
  scripts/ansible/start-be.yml
Due: black, isort, flake8, mypy, copyright-check

fix: remove hardcoded localhost and switches to URL for API
  notes/PRODUCTION_BE.md
  sample.env
  scripts/ansible-be/roles/django/tasks/main.yml
  scripts/ansible-be/roles/django/templates/docker-compose.yml.j2
  scripts/ansible-fe/roles/angular/tasks/main.yml
Due: none

feat: add user preference migration and --build to docker compose commands
  api/migrations/0001_initial.py
  scripts/be/hosts.ini.example
  scripts/be/playbook.yml
  scripts/be/roles/django/files/nginx.conf
  scripts/be/roles/django/tasks/main.yml
  scripts/be/roles/django/templates/Dockerfile.j2
  scripts/be/roles/django/templates/docker-compose.yml.j2
  scripts/fe/hosts.ini.example
  scripts/fe/playbook.yml
  scripts/fe/roles/angular/files/nginx.conf
  scripts/fe/roles/angular/tasks/main.yml
  scripts/fe/roles/angular/templates/Dockerfile.j2
  scripts/fe/roles/angular/templates/docker-compose.yml.j2
Due: black, isort, flake8, mypy

feat: add dj-rest-auth and leverage the REST APIs from there (removing several views) and overriding email URLs to route to front-end
  .gitignore
  .idea/capital-copilot.iml
  .idea/misc.xml
  api/adapters.py
  api/serializers.py
  api/tests.py
  api/views.py
  copilot/settings.py
  copilot/urls.py
  notes/DJANGO_AUTH.md
  poetry.lock
  pyproject.toml
  sample.env
  scripts/Insomnia.yaml
  scripts/be/roles/django/tasks/main.yml
  scripts/sql/drop_user.sql
  templates/account/email/email_confirmation_message.txt
  templates/account/email/password_reset_key_message.txt
Due: black, isort, flake8, mypy, copyright-check, version-check

feat: set dj rest auth to use JWTs for login and fix reset and confirm emails
  .idea/sqldialects.xml
  copilot/settings.py
  copilot/urls.py
  templates/account/email/email_confirmation_message.txt
  templates/account/email/password_reset_key_message.txt
Due: black, isort, flake8, mypy, copyright-check

Path conditions:
  black: any of: . and \.py$
  isort: any of: . and \.py$
  flake8: any of: . and \.py$
  mypy: any of: . and \.py$
  copyright-check: any of: .*\.(py|js|html)$, but not: .*/migrations/.*
  version-check: any of: (\.pre-commit-config\.yaml|pyproject\.toml)
